* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #eee;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }
  
  
  
  .shopping-form {
    background: #0d79b8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: auto;
  }
  
  .input-container {
    flex: 1;
    display: flex;
  }
  
  #item {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    margin-right: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  #submit-button {
    border-radius: 0 4px 4px 0;
    padding: 5px 15px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 8px;
  }
  
  .shopping-form input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .shopping-form button {
    padding: 5px 15px;
    border-radius: inherit;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .shopping-filter button {
    background: #ddd;
    border-radius: 5px;
  }
  
  .shopping-filter button:hover,
  .shopping-filter button.active {
    background: #000;
    color: #fff;
  }
  
  .shopping-list {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-list li {
    background: #fff;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .shopping-list li .item-name {
    flex: 1;
    padding: 5px 10px;
  }
  
  .shopping-list li[data-completed] .item-name {
    text-decoration: line-through;
    color: #999;
  }
  
  .shopping-list li .item-name[contenteditable="true"] {
    outline-color: yellowgreen;
  }
  
  .shopping-list li .delete-button {
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    line-height: 1;
    color: #f00;
    background: transparent;
    transform: scale(0);
    transition: transform 200ms;
  }
  
  .shopping-list li:hover .delete-button {
    transform: scale(1);
  }
  
  .shopping-list li .drag-icon {
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    line-height: 20px;
    color: #ccc;
    text-align: center;
    cursor: move;
  }
  
  .shopping-list li[draggable="false"] .drag-icon {
    cursor: not-allowed;
  }
  
  .shopping-action button {
    color: #777;
  }
  
  .shopping-action button:hover {
    color: #000;
  }
  
  .shopping-notice {
    padding: 10px;
    background: lightblue;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
  }
  
  .shopping-notice.show {
    display: block;
  }
  
  .shopping-notice.show ~ .shopping-filter,
  .shopping-notice.show ~ .shopping-action {
    display: none;
  }
  
  
  @media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }  
    .shopping-form {
        background: #0d79b8;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Ajusta para que abarque todo el ancho */
        padding: 10px;
    }
    .input-container {
      display: flex;
      flex-direction: row; /* Mantenido en fila para poner el input y el botón en línea */
      margin-bottom: 10px; /* Agregado margen inferior para separar el formulario del contenedor */
      width: 100%;
    }
    
    #item {
      flex: 1;
      border-radius: 4px 0 0 4px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  
    #submit-button {
      border-radius: 0 4px 4px 0;
      width: auto;
      margin-left: 0;
      font-size: 1rem; /* Ajusta el tamaño de la fuente en dispositivos móviles */
      padding: 8px 15px;
    }
  
    .shopping-form input {
      margin-right: 1px;
      margin-bottom: 10px;
      font-size: 1rem;
    }
  
  }